@use "../abstract/mixins";

*, *::before, *::after {
  box-sizing : border-box;
  }

body {
  font-size        : var(--default-font);
  line-height      : var(--line-height-m);
  color            : var(--color-Stone-600);
  background-color : var(--color-Stone-100);
  @include mixins.outfit-font();
  display          : flex;
  flex-direction   : column;
  justify-content  : center;
  align-items      : center;
  padding          : 0;
  gap              : var(--spacing-100);
  margin           : 0 auto;
  
  @media (min-width : 23.625em) {
	& {
	  padding : var(--clamp-spacing-y) var(--clamp-spacing-x);
	  }
	}
  }


p {
  font-size   : var(--default-font);
  line-height : var(--line-height-m);
  color       : var(--color-Stone-600);
  @include mixins.outfit-font();
	
  }

h1, h2, h3, h4, h5, h6 {
  margin-block-start : 0.063rem;
  }

h1 {
  color       : var(--color-Stone-900);
  font-size   : var(--clamp-h1-size);
  line-height : var(--line-height);
  @include mixins.young-serif-font();
  }

h2 {
  color       : var(--color-Brown-800);
  font-size   : var(--font-28);
  line-height : var(--line-height);
  @include mixins.young-serif-font();
  }

h3 {
  font-size : var(--font-20);
  }

h3, h4, h5, h6 {
  line-height : var(--line-height);
  color       : var(--color-Rose-800);
  @include mixins.outfit-font(600);
  }

figure {
  margin : 0;
  }

img {
  width         : 100%;
  height        : auto;
  border-radius : 0;
  
  @media (min-width : 23.75em) {
	border-radius : var(--border-radius-s);
	}
  }

main {
  background-color : var(--color-White);
  padding          : 0;
  display          : flex;
  flex-direction   : column;
  justify-content  : flex-start;
  align-items      : center;
  width            : 100%;
  max-width        : 46rem;
  gap              : var(--spacing-500);
  border-radius    : 0;
  
  @media (min-width : 23.75em) {
	border-radius : var(--border-radius-l);
	padding       : var(--clamp-main-spacing);
	}
  }

ul, ol {
  color                : var(--color-Stone-600);
  margin-block-start   : 0;
  margin-block-end     : 0;
  padding-inline-start : var(--spacing-300);
  padding-inline-end   : var(--spacing-300);
  }

ul li, ol li {
  margin-bottom : var(--spacing-100);
  padding-left  : var(--spacing-150);
  
  &:last-child {
	margin-bottom : 0;
	}
  }

ul ::marker {
  font-size : 12px;
  }

ul ::marker,
ol ::marker {
  color       : var(--color-Brown-800);
  font-weight : bold;
  }

hr {
  width            : 100%;
  height           : 1px;
  background-color : var(--color-Stone-150);
  border           : none;
  }

.responsive-table-container {
  width      : 100%;
  overflow-x : auto;
  }

table {
  min-width       : 100%;
  border-collapse : collapse;
  }

tr {
  border-bottom : 1px solid var(--color-Stone-150);
  
  &:last-of-type {
	border-bottom : none;
	}
  }

th {
  padding     : 0.75rem 2rem;
  font-weight : 400;
  }

td {
  padding     : 0.75rem 2.5rem;
  font-weight : bold;
  color       : var(--color-Brown-800);
  }

th, td {
  text-align  : left;
  white-space : nowrap;
  }