$default-font    : 1rem; // 16px
$font-20         : 1.25rem; // 20px
$font-28         : 1.75rem; // 28px
$font-32         : 2rem; // 32px
$font-36         : 2.25rem; // 36px
$font-40         : 2.5rem; // 40px

$color-White     : hsl(0, 0%, 100%);
$color-Stone-100 : hsl(30, 54%, 90%);
$color-Stone-150 : hsl(30, 18%, 87%);
$color-Stone-600 : hsl(30, 10%, 34%);
$color-Stone-900 : hsl(24, 5%, 18%);
$color-Brown-800 : hsl(14, 45%, 36%);
$color-Rose-800  : hsl(332, 51%, 32%);
$color-Rose-50   : hsl(330, 100%, 98%);

$spacing-1600    : 8rem; // 128px
$spacing-600     : 3rem; // 48px
$spacing-500     : 2.5rem; // 40px
$spacing-400     : 2rem; // 32px
$spacing-300     : 1.5rem; // 24px
$spacing-200     : 1rem; // 16px
$spacing-150     : 0.75rem; // 12px
$spacing-100     : 0.5rem; // 8px

$line-height     : 1.0;
$line-height-m   : 1.5;

$border-radius-s : 12px;
$border-radius-m : 16px;
$border-radius-l : 24px;
